{{template "base" . }}

{{define "content"}}
<!-- Container  -->
<div class="container">

    <div class="row">
        <div class="col">
            <h1>Booking</h1>

            {{$res := index .Data "booking"}}

            <form action="/booking" method="POST" class="" novalidate>
                <!-- CSRF Token -->
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                <div class="form-group mt-5">
                    <label for="firstname">First name</label>
                    <!-- firtname error message handler for template -->
                    {{with .Form.Errors.Get "firstname"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="text" class="form-control {{with .Form.Errors.Get "firstname"}} is-invalid {{end}}"
                        name="firstname" id="firstname" value="{{$res.Firstname}}" required>
                </div>
                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <!-- lastname error message handler for template -->
                    {{with .Form.Errors.Get "lastname"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="text" class="form-control {{with .Form.Errors.Get "lastname"}} is-invalid {{end}}"
                        name="lastname" id="lastname" value="{{$res.Lastname}}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <!-- email error message handler for template -->
                    {{with .Form.Errors.Get "email"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}"
                        name="email" id="email" value="{{$res.Email}}" required>
                </div>
                <div class="form-group">
                    <label for="phone">Tel</label>
                    <!-- phoe error message handler for template -->
                    {{with .Form.Errors.Get "phone"}}
                    <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="tel" class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}"
                        name="phone" id="phone" value="{{$res.Phone}}" required>
                </div>
                <hr>
                <input type="submit" class="btn btn-primary" value="Make Reservation">

            </form>

        </div>
    </div>
</div>
{{end}}